.footer-svg-holder {
  height: 40px;

  a {
    @extend %full-link;

    &:hover {
      svg {
        top: -3px;
      }
    }
  }

	svg {
	    height: 40px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
	}
}

footer {
  padding: 25px;
  background: $gray;
  text-align: center;
  color: white;

  address {
    color: white;
    display: block;
    width: 100%;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 100;
    margin-top: 20px;
  }
}

.footer-list {
  @extend %clearfix;
  margin: 0 auto;
  list-style: none;
  max-width: 500px;

  li {
    display: inline-block;
    float: left;
    color: white;
    width: 33.333%;
    margin-bottom: 0;
    text-transform: uppercase;
    position: relative;

    @include media($phablet-screen) {
      width: 100%;
      float: none;

      &:nth-child(1) {
        margin-bottom: 15px;
      }

      &:nth-child(2) {
        margin-bottom: 10px;
      }
    }
  }
}

.creator-link {
  font-weight: 500;
}