@media screen and (max-width: 1200px) {

  label {
    font-size: 19px;
  }

  .contact-column {
    label {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }

  #form-messages {
    margin-bottom: 20px;
  }

  form.contactForm {
    span {
      right: auto;
      margin-left: 5px;
    }

    label {
      width: 100%;
      text-align: center;
    }

    input,
    textarea {
      width: 100%;
    }
  }

  .contact-section {
    height: auto;

    .text-column {
      width: 100%;

      .text-container {
        top: auto;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
      }
    }

    .form-column {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (max-width: 750px) {
  .service-image img {
    max-width: 80%;
  }

  footer {
    ul {
      width: 75%;
    }
  }

  .page-content {
    .page-content-block {
      width: 100%;
      margin: 0;
    }
  }

  .page-container {
    text-align: center;

    ul {
      text-align: left;
    }

    svg {
      width: 75%;
    }

    .contact-column {
      width: 100%;
      margin: 0;

      ul {
        text-align: center;
      }
    }

    .page-contact {
      width: 100%;
      margin: 0 0 20px;
    }
  }

  .container {
    width: 95%;
  }

  .nav-container {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .page-testimonial-bar {
    .testimonial-part {
      text-align: center;
      width: 100%;
      margin: 0;
    }

    .bubbles-part {
      display: none;
    }
  }

  .banner {
    &.page-banner {
      height: auto;

      h1 {
        font-size: 40px;
        margin-bottom: 0;
        padding: 10px 0;
      }
    }
  }

  .home-bar {
    &.call-bar {
      h2 {
        font-size: 25px;
      }

      span {
        display: none;
      }

      br {
        display: inline!important;
      }
    }
  }

  footer {
    height: auto;
    padding: 15px;

    .container {
      top: auto;
      -webkit-transform: translateY(0%);
      -moz-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%);
    }
  }

  cite {
    bottom: 0;
  }

  .home-bar {
    .testimonial-part {
      width: 100%;
      margin: 0;
      text-align: center;
    }
  }

  .bubbles-part.home-bubbles {
    display: none;
  }

  .local-section .columns {
    float: right;
  }

  .bubbles-part svg {
    display: none;
  }

  .logo {
    width: 100%;
  }

  .nav-links {
    display: none;
  }

  #mobile-menu-toggle {
    display: block;
    left: 0;
    width: 100%;
    height: 35px;
    top: 0;    
    padding: 12px 0 10px;
    border-bottom: 1px solid rgba($gray, .1);
  }
}