.page-container {
  padding: 30px 0;

  @include media($phablet-screen) {
    padding: 30px 20px;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $gray;
  }

  h2 {
    font-weight: 800;
  }

  h4 {
    font-weight: 500;
  }

  hr {
    border: none;
    height: 5px;
    background: rgba($gray, .1);
    margin: 0 0 22px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .contact-content {
    ul {
      list-style-type: none;
      padding-left: 0;

      li {
        text-transform: none;
      }
    }
  }

  iframe {
    width: 100%;
  }

  .phone1 a {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;

    @include media($mobile-screen) {
      font-size: 32px;
    }
  }

  .page-contact {
    border: 3px solid $orange;
    border-radius: 6px;
    color: $orange;
    text-align: center;
    display: block;
    width: 180px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 18px;

    &:hover {
      background: $orange;
      color: white;
    }
  }
}

.user-managed-content {
	p,
	ul,
	ul li,
	a {
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 24px;
		font-weight: 300;
		line-height: 26px;
		color: $gray;
	}

  img {
    border: 5px solid #3e3e3e;
  }

	a {
		font-weight: 600;
		line-height: 50px;
		font-size: 23px;
	}

	ul {
		list-style: disc;
		padding-left: 75px;

    @include media($phablet-screen) {
      padding-left: 25px;
    }

		li {
			font-weight: 600;
			margin-bottom: 0;
			font-size: 22px;
			text-transform: uppercase;
		}

		a {
			font-weight: 600;
			line-height: normal;
			color: $gray;
		}
	}
}

.page-banner {
  h1 {
    font-size: 100px;
  }
}

.page-content {
  clear: both;
}

.page-testimonial-bar {
  height: 130px;
  width: auto;
  background: $orange;

  @include media($phablet-screen) {
    height: auto;
    padding: 10px;
  }

  .container {
    height: 100%;
  }

  .bubbles-part {
    background-size: auto 80%;
  }
}

.reference-block {
  border-top: 5px solid rgba($gray, .1);
  padding-top: 25px;
  width: 86%;
  margin: 0 auto;
}

li.phone2,
li.email,
.phone1 {
  a {
    &:hover {
      color: $orange;
    }
  }
}

.service-image {
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 5px solid $gray;
    border-radius: 3px;
  }
}

.content-area {
  img {
    display: block;
    margin: 10px;

    &.alignright {
      float: right;
    }

    &.aligncenter {
      margin: 10px auto;
    }

    &.alignleft {
      float: left;
    }
  }
}
