#smoke {
  position: absolute;
  z-index: 3;
  width: 1px;
  height: 275px;
  right: 6%;
  bottom: 15%;
}

#smoke span {
  display: block;
  position: absolute;
  bottom: -35px;
  left: 50%;
  margin-left: -20px;
  height: 100px;
  width: 100px;
  background: #E8E8E8;
  border: 1px solid rgba(white, .3);
  border-radius: 100%;
  left: -14px;
  opacity: 0;
  transform: scale(0.2);
}

@keyframes smokeUp {
  0% {
    opacity: 1;
    transform: scale(0.5) translate(0, 0);
  }
  90% {
    transform: scale(1) translate(230px, 20px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes smokeDown {
  0% {
    opacity: 1;
    transform: scale(0.5) translate(0, 0);
  }
  90% {
    transform: scale(1) translate(230px, -20px);
  }
  100% {
    opacity: 0;
  }
}

$side: 'Up';
@for $i from 1 through 10 {
  #smoke .s#{$i}{
    animation: smoke#{$side} 2.5s #{$i*.25}s infinite;
  }

  @if $side == 'Up' {
    $side: 'Down'
  } @else {
    $side: 'Up'
  }
}