$gray: #3e3e3e;
$orange: #e83b2e;
$green: #00b771;
$blue: #015cab;
$light-blue: #1285ed;
$patternColor : rgba($gray, .03);

$large-screen: 1200px;
$small-screen: 1000px;
$tablet-screen: 750px;
$phablet-screen: 550px;
$mobile-screen: 400px;