@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);

$gray: #3e3e3e;
$orange: #e83b2e;
$green: #00b771;
$blue: #015cab;
$light-blue: #1285ed;

@import 'slick';
@import 'mixinsKeyframesPlaceholders';
@import 'normalize';
@import 'skeleton';
@import 'mainstyles';
@import 'pageStyles';
@import 'mediaqueries';